@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist.ttf');
}

:root [data-theme='maniac'] {
	--theme-font-family-heading: 'Geist', sans-serif;
}
